<div class="card-title">
    Air Quality
    &nbsp;&nbsp;&nbsp;<img src="../../assets/x.svg" style="cursor: pointer;" (click)="delete()">
</div>
<div class="card-content">
    <div class="left-half">
        <div class="circular-banner">
            <div>
                72
            </div>
        </div>
    </div>
    <div class="right-half">
        <div class="wind-speed">
            <div class="flex-center">
                <img src="../../assets/arrow-up.svg">
            </div>
            <div class="flex-center">93</div>
        </div>
        <div class="divider"></div>
        <div class="wind-speed">
            <div class="flex-center">
                <img src="../../assets/arrow-down.svg">
            </div>
            <div class="flex-center">61</div>
        </div>
    </div>
</div>