<div class="card-title">
    Temperature
    &nbsp;&nbsp;&nbsp;<img src="../../assets/x.svg" style="cursor: pointer;" (click)="delete()">
</div>
<div class="card-content">
    <div class="left-half">
        <div class="circular-banner">
            <div>
                21
            </div>
            <div style="font-size: xx-large; font-family: 'rotaMedium'">
                &deg;C
            </div>
        </div>
    </div>
    <div class="right-half">
        <div class="wind-speed">
            <div class="flex-center">
                <img src="../../assets/fire.svg">
            </div>
            &nbsp;
            <div class="flex-center">26</div>
            <div class="flex-center" style="font-size: xx-large; font-family: 'rotaMedium';">
                &deg;C
            </div>
        </div>
        <div class="divider"></div>
        <div class="wind-speed">
            <div class="flex-center">
                <img src="../../assets/snowflake.svg">
            </div>
            &nbsp;
            <div class="flex-center">18</div>
            <div class="flex-center" style="font-size: xx-large; font-family: 'rotaMedium'">
                &deg;C
            </div>
        </div>
    </div>
</div>